header {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  background-color: $color-tres;
  padding: 2rem;

  nav {
    a {
      text-decoration: none;
      color: #000000;
      font-weight: 800;
      margin-right: 30px;
      border-radius: 30px;
      padding: 10%;

      &:hover {
        background-color: $color-primary;
        color: $color-second;
      }
    }
  }
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  top: 0;
  left: 0;
}

.nav-list ul {
  padding: 100px 0px 20px 0px;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 5rem;
  margin-left: 5px;
  height: 50px;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.inicio {
  .encabezado-img {
    background-image: url(../assets/cafe\ header\ img.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-second;

    p {
      font-size: 20px;
    }

    h1 {
      font-size: 50px;
      padding: 20px;
    }
  }
}

.fondo-inicio {
  background-color: $color-tres;
}