.tienda-pipi {
  background-color: $color-tres;
}

.parrafitos {
  color: #000000;
  font-weight: bold;
  background-color: #fdc785;
}

.imagenes {
  background-color: $color-second;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    border-radius: 10px;
  }
}