// Tipografia
$title-principal: "Nunito Sans", sans-serif;
//Colores
$color-primary: #4d3200;
$color-second: #ffffff;
$color-tres: #ac8855;

//MAPAS
$my-estilos: (
    "xs": 10px,
    "ms": 25px,
    "lg": 30px,
    "xl": 60px,
);

@each $name, $talla in $my-estilos {
    .my-estilos-#{$name} {
        font-size: $talla;
        color: $color-primary;
    }
}

$colors-redsocial: (
    instagram: #FFB6C1,
    facebook: #0000CD,
    three: #0e0d0d,
);

@each $rrss, $arte in $colors-redsocial {
    .artistico-#{$rrss} {
        color: $arte;
    }
}